{
   "extends": "eslint:recommended",
   "rules": {
      "curly": "error",
      "dot-notation": "error",
      "eqeqeq": "error",
      "no-else-return":"error",
      "no-extra-bind": "error",
      "no-extra-label":"error",
      "no-implicit-coercion" :"error"
   }
}